<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itcast.mybatis.dao.UserMapper">
    
    <select id="findUserList" parameterType="com.itcast.mybatis.po.UserQueryVo" resultType="com.itcast.mybatis.po.UserCustom">
        select * from user where user.sex='#{userCustom.sex}' and user.username like '${userCustom.username}%'
    </select>

    <!-- 查询综合信息的总数-->
    <select id="findUserCount" parameterType="com.itcast.mybatis.po.UserQueryVo" resultType="int">
        select count(*) from user where user.sex=#{userCustom.sex} and user.username like '${userCustom.username}%'
    </select>

    <select id="findUserById" parameterType="int" resultType="com.itcast.mybatis.po.User">
    select * from user where id = #{id}
    </select>

    <select id="findUserByName" parameterType="String" resultType="com.itcast.mybatis.po.User">
        select  * from user where username like '${value}%'
    </select>

    <insert id="insertUser" parameterType="com.itcast.mybatis.po.User">
        insert into user(id,username,birthday,sex,address) value (#{id},#{username},#{birthday},#{sex},#{address})
    </insert>

    <update id="updateUser" parameterType="com.itcast.mybatis.po.User">
       update user set username = #{username}
                      where id = #{id}
    </update>

    <delete id="deleteById" parameterType="com.itcast.mybatis.po.User">
        delete from user  where id = #{id}
    </delete>

</mapper>